.full-width {
  width: 100%;
}

.one-fifth-width {
  width: 20%;
}

.warn {
  color: #f44336;
}

.errors-title {
  display: flex;
  align-items: center;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  padding: 10px 0;
}

.mini-fab-outline {
  background-color: transparent;
  box-shadow: none;
  border: darkgray solid 1px;
}

::ng-deep .mini-fab-outline .mat-button-wrapper {
  padding: 7px 0 !important;
}

.editor {
  height: 280px;
}

.selects-help-icon {
  position: absolute;
  right: 0px;
}

textarea.mat-autosize {
  resize: none !important;
  overflow: hidden !important;
}

.step-actions-container {
  height: 55px;
  position: fixed;
  bottom: 0px;
  background-color: white;
  z-index: 3;
  width: 100%;
}

.form-wrapper{
  margin-bottom: 55px;;
}

::ng-deep .form-container {
  height: calc(100% - 55px);
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  justify-content: flex-start;
}

::ng-deep .flex-form {
  padding: 0 3px;
  width: calc(50% - 6px);
}
