.container {
  display: flex;
  height: calc(100vh - 260px);
  grid-column-gap: 20px;
  grid-template-columns: 1fr 1fr;
  width: 100%;

  &__item {
    display: flex;
    flex-direction: column;
    width: calc(50% - 1em);
    margin-left: 1em;
    margin-right: 1em;

    mat-card {
      display: flex;
      flex-direction: column;
      flex: 1;
      overflow: hidden;

      ::ng-deep .mat-tab-body-wrapper,
      ::ng-deep .mat-tab-group {
        flex: 1;
      }
    }
  }
}

.icon-placeholder {
  line-height: 0;
  margin-left: 8px;
}

.import-export {
  margin-right: 15px;
}
