.drillback-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}

.drillback-dataset-grid-container {
  width: calc(50% - 20px);
  margin-left: 10px;
  margin-right: 10px;
}

.tab-icon {
  margin-right: 10px;
}

.drillback-body {
  height: 890px;
}
