::ng-deep {
  .narrow-margin-column {
    padding-left: 4px !important;
    padding-right: 4px !important;
  }

  .ag-body-viewport .ag-layout-auto-height,
  .ag-pinned-left-cols-container {
    padding-bottom: 30px;
  }
}
