form {
  margin-top: 15px;
}

.user-info {
  text-align: right;
}

.user-info-date {
  display: inline-block;
  padding-top: 5px;
}

.schema-detail-inputs-container {
  display: flex;
  justify-content: left;
  height: 65px;
}

.schema-input-container {
  min-height: 24px;
  margin-left: 16px;
  width: 400px;
}

.schema-detail-container {
  font-size: 15px;
}

.schema-attribute-container {
  margin-top: 30px;
}


.schema-csv-button-container {
  position: absolute;
  top: 18px;
  right: 20px;
}
