<svg
  class="d3-dag"
  id="dag"
  [attr.height]="height"
  [attr.width]="width"
  [attr.viewBox]="
    viewBoxLocation.x +
    ' ' +
    viewBoxLocation.y +
    ' ' +
    viewBoxSize +
    ' ' +
    viewBoxSize
  "
  [attr.transform]="'scale(' + zoom + ')'"
  (mouseleave)="mouseDown = false"
  (mousedown)="mouseDown = true"
  (mouseup)="mouseDown = false"
  (mousemove)="mouseMove($event)"
>
  <defs id="gradientDefinitions">
    <linearGradient
      *ngFor="let edge of dagEdges"
      gradientUnits="userSpaceOnUse"
      [attr.id]="edge.source.id + '-' + edge.target.id"
      [attr.x1]="100 * edge.source.x"
      [attr.x2]="100 * edge.target.x"
      [attr.y1]="100 * edge.source.y"
      [attr.y2]="100 * edge.target.y"
    >
      <stop offset="100%" [attr.stop-color]="colorMap[edge.target.id]"></stop>
    </linearGradient>
  </defs>

  <g id="edges">
    <path
      *ngFor="let edge of dagEdges"
      [ngClass]="{
        'dag-edge-selected': isEdgeSelected(edge) && isEdgeValid(edge),
        'dag-edge': !isEdgeSelected(edge) && isEdgeValid(edge),
        'dag-edge-invalid': !isEdgeValid(edge)
      }"
      fill="none"
      [matTooltip]="getEdgeTooltip(edge)"
      matTooltipPosition="above"
      (click)="handleEdgeClick(edge)"
      [attr.d]="edge.d"
      [attr.stroke-width]="edgeWidth"
      [attr.stroke]="'url(#' + edge.source.id + '-' + edge.target.id + ')'"
    ></path>
  </g>

  <g id="nodes">
    <circle
      *ngFor="let node of dagNodes"
      stroke="white"
      stroke-width="0.1"
      [ngClass]="{
        node: isNodeValid(node),
        'node-invalid': !isNodeValid(node)
      }"
      [matTooltip]="getTooltip(node)"
      matTooltipPosition="below"
      [attr.r]="node.radius"
      [attr.fill]="colorMap[node.id]"
      [attr.transform]="'translate(' + node.x + ' ' + node.y + ')'"
    ></circle>
  </g>
</svg>
