<div class="action-buttons">
  <button
    mat-fab
    class="action-buttons_button"
    (click)="handleRefreshJobsButtonClick()"
    color="basic"
    [matTooltip]="'Refresh jobs list'"
    matTooltipPosition="left"
  >
    <mat-icon aria-label="Refresh jobs list">refresh</mat-icon>
  </button>
  <button
    class="action-buttons_button"
    mat-fab
    (click)="handlePipelineJobButtonClick()"
    [matTooltip]="'Run Pipeline'"
    matTooltipPosition="right"
  >
    <mat-icon aria-label="Start pipeline job">play_arrow</mat-icon>
  </button
  >
  <button
    class="action-buttons_button e2e-open-staging-dialog-button"
    mat-fab
    (click)="handleAddJobButtonClick()"
    [matTooltip]="'Stage job'"
    matTooltipPosition="right"
  >
    <mat-icon aria-label="Stage new datasets">add</mat-icon>
  </button>
</div>

<div [@jobsFadeIn]>
  <app-jobs-list #jobsList
                 class="e2e-running-jobs-list"
                 [runningJobs]="runningJobs$ | async"
  >
  </app-jobs-list>
</div>
