<h2>In progress</h2>

<ul class="job-list" *ngIf="runningJobs.length > 0">
  <li class="job-list__job e2e-running-job" *ngFor="let job of runningJobs">
    <span class="file e2e-running-job-name">
      <b>#{{ job.id }} {{ job.name }}</b> - Started:
      {{ job.startTime | localeTime }} &nbsp;
    </span>
    <span class="state state--loading">
      <mat-progress-bar
        mode="indeterminate"
        color="warn"
        *ngIf="isStopping(job)"
      ></mat-progress-bar>
      <mat-progress-bar
        mode="indeterminate"
        *ngIf="!isStopping(job)"
      ></mat-progress-bar>
    </span>
    <span class="controls">
      <button
        mat-icon-button
        (click)="handleStopJobButtonClick(job.id, job.status)"
        [matTooltip]="'Stop job'"
        matTooltipPosition="right"
      >
        <mat-icon aria-label="Stop job">clear</mat-icon>
      </button>
      <button
        mat-raised-button
        (click)="handleJobsButtonClick(job)"
        title="View job {{ job.id }} details"
      >
        Details
      </button>
    </span>
  </li>
</ul>

<p *ngIf="runningJobs.length === 0">No jobs are currently running</p>

<h2>History</h2>

<app-grid class="e2e-jobs-grid"
  [rowData]="rowData"
  [columnDefs]="columnDefs"
  [customStyle]="customStyle"
  [gridOptions]="gridOptions"
></app-grid>
