@import "../../_theme/variables";

.staging-job-details {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  margin-bottom: 10px;
  padding-left: 15px;

  mat-form-field {
    margin-bottom: 0px;
    margin-right: 20px;
  }

  mat-form-field:first-child {
    width: 24%;
    min-width: 180px;
  }
}

.container {
  display: flex;
  flex-flow: column nowrap;
  height: 550px;
}

.sub-container {
  display: flex;
  align-items: stretch;
  width: calc(100% + #{$gutter-width});
  height: 460px;
}

.dataset-list-expanded {
  width: calc(32% + #{$gutter-width});
}

.dataset-list-collapsed {
  width: calc(98% + #{$gutter-width});
}

.dataset-list-dataset-expanded {
  width: 98%;
}

.dataset-list-dataset-collapsed {
  width: 33%;
}

.dataset-list {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: left;
  margin-left: -$gutter-width;
  height: 450px;
  flex-direction: row;
  overflow-y: auto;

  &__dataset {
    display: flex;
    box-sizing: border-box;
    margin-bottom: $gutter-width + 10px;
    padding-left: $gutter-width;
    flex-shrink: 0;
    height: 410px;

    mat-card {
      width: calc(98% + #{$gutter-width});
    }

    .form-field-full-width {
      flex-basis: 100%;
    }

    .form-field-file-name {
      flex-basis: calc(100% - 80px);
    }

    mat-form-field,
    mat-radio-group {
      display: block;
      flex-basis: 45%;
      margin-bottom: 0px;
    }

    mat-radio-group {
      display: flex;

      label {
        font-weight: bold;
        margin-right: 30px;
      }
    }

    .mat-card-content {
      flex-flow: wrap;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 0px;
    }
  }

  &__add-card {
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 3px #ccc dashed;
    min-height: 322px;
    width: 100%;

    &:hover {
      cursor: pointer;
      background: #ccc;
    }

    mat-icon {
      font-size: 100px;
      height: 100px;
      width: 100px;
    }
  }
}

.show-pipelines {
  margin-left: 20px;
}

.add-item {
  margin-top: 20px;
}

.pipeline-item {
  width: calc(57%);
  margin-left: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
}

.pipeline-graph {
  width: calc(39%);
  margin-left: 25px;
  margin-right: auto;
  margin-bottom: 10px;
  padding-left: 0px;
  height: 360px;
}

.pipeline-title {
  font-weight: bold;
}

.pipeline-mat-card {
  width: calc(98% + #{$gutter-width});
  height: 360px;
}

.pipeline-mat-card-content {
  display: flex;
  align-items: stretch;
  width: calc(98% + #{$gutter-width});
  height: 360px;
}

.pipeline-container {
  display: flex;
  align-items: stretch;
  width: calc(62% + #{$gutter-width});
  height: 420px;
}

.fill-space {
  flex: 1 1 auto;
}

.aligned-with-text {
  vertical-align: middle;
}

.dialog-width {
  padding-right: 35px;
}

.mat-dialog-content {
  margin-bottom: -12px;
}

.mat-dialog-actions {
  height: 40px;
  max-height: 40px;
  align-items: start;
}
