<app-spinner
  *ngIf="stageJobFormService.formLoading$ | async"
  size="medium"
  text="Fetching details"
></app-spinner>

<div
  *ngIf="
    !(stageJobFormService.formReady$ | async) &&
    !(stageJobFormService.formLoading$ | async)
  "
>
  <p>No schemas and/or source files available to stage job.</p>
</div>

<form
  [formGroup]="stageJobFormService.form"
  (ngSubmit)="submit()"
  novalidate
  *ngIf="
    (stageJobFormService.formReady$ | async) &&
    !(stageJobFormService.formLoading$ | async)
  "
>
  <mat-dialog-content class="dialog-width">
    <div class="staging-job-details">
      <mat-form-field>
        <input
          matInput
          formControlName="jobName"
          placeholder="Job Name"
          class="e2e-staging-job-name-input"
        />
      </mat-form-field>

      <mat-form-field>
        <input
          class="e2e-staging-entity-code-input"
          matInput
          formControlName="entityCode"
          placeholder="Entity code"
        />
      </mat-form-field>

      <mat-form-field>
        <input
          class="e2e-staging-reference-date-input"
          matInput
          [min]="minDate"
          formControlName="refDate"
          [matDatepicker]="picker"
          placeholder="Reference Date"
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="picker"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <span (click)="addItem()" title="Add Staging Form" class="add-item">
      <mat-icon class="aligned-with-text">add_circle</mat-icon>
    </span>

      <mat-checkbox
        class="show-pipelines"
        (change)="stageJobFormService.onShowPipelines($event)"
        checked="true"
      >
        Run Downstream Pipelines
      </mat-checkbox>
    </div>

    <div class="container">
      <div class="sub-container">
        <div
          [ngClass]="
            stageJobFormService.showPipelines
              ? 'dataset-list e2e-staging-items-list dataset-list-expanded'
              : 'dataset-list e2e-staging-items-list dataset-list-collapsed'
          "
        >
          <div
            *ngFor="
              let item of stageJobFormService.form.get('items').controls;
              let i = index
            "
            class="dataset-list__dataset"
            [ngClass]="
              stageJobFormService.showPipelines
                ? 'dataset-list__dataset dataset-list-dataset-expanded'
                : 'dataset-list__dataset dataset-list-dataset-collapsed'
            "
          >
            <mat-card formArrayName="items" class="e2e-staging-item-container">
              <mat-card-content [formGroupName]="i">
                <app-auto-complete class="form-field-file-name e2e-staging-csv-input" style="display: inline-block;"
                                   [title]="item.controls.filePath.value"
                                   [placeholder]="'File Name'"
                                   [options]="stageJobFormService.sourceFiles$ | async"
                                   [formInputName]="'File Name'"
                                   (valueChanged)="sourceFileSelected($event, item.controls)">

                </app-auto-complete>

                <mat-checkbox
                  formControlName="header"
                  class="e2e-staging-item-csv-header-input"
                  [checked]="true"
                  labelPosition="before"
                  matTooltip="Is the first line of the file a column header?"
                >
                  Header
                </mat-checkbox>

                <app-auto-complete style="display: inline-block; width: 100%" class="e2e-staging-schema-input"
                                   [title]="item.controls.schemaName.value"
                                   [options]="stageJobFormService.filteredSchemas$ | async"
                                   [valueExtractor]="schemaNameExtractor"
                                   [formInputName]="'Schema'"
                                   [placeholder]="'Schema'"
                                   (valueChanged)="schemaSelected($event, item.controls)">

                </app-auto-complete>

                <mat-form-field>
                  <input
                    matInput
                    formControlName="schemaPhysicalName"
                    placeholder="Physical Schema Name"
                    [title]="item.controls.schemaPhysicalName.value"
                  />
                </mat-form-field>
                <mat-form-field>
                  <input
                    matInput
                    placeholder="Version"
                    formControlName="schemaVersion"
                    [title]="item.controls.schemaVersion.value"
                  />
                </mat-form-field>
                <mat-form-field>
                  <input
                    matInput
                    placeholder="Start Date"
                    formControlName="schemaStartDate"
                    [title]="item.controls.schemaStartDate.value"
                  />
                </mat-form-field>
                <mat-form-field>
                  <input
                    matInput
                    placeholder="End Date"
                    formControlName="schemaEndDate"
                    [title]="item.controls.schemaEndDate.value"
                  />
                </mat-form-field>
                <mat-error
                  *ngIf="
                    !stageJobFormService.form.controls.refDate.invalid &&
                    !item.controls.schemaName.invalid &&
                    item.controls.selectedSchema.invalid
                  "
                >
                  <h4>
                    No schema version found with period containing the selected
                    reference date
                  </h4>
                </mat-error>

                <mat-form-field class="form-field-full-width" *ngIf="appendFeatureActive$ | async">
                  <mat-label>Append to existing dataset</mat-label>
                  <mat-select formControlName="appendToDataset">
                    <mat-option>None</mat-option>
                    <mat-option
                      *ngFor="
                        let dataset of item.controls._appendDatasetAutocomplete
                          .value
                      "
                      [value]="dataset"
                    >
                      {{
                      dataset.name +
                      ", last run #" +
                      dataset.runKey +
                      " at " +
                      (dataset.lastUpdated | localeTime)
                      }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>

                <mat-checkbox
                  formControlName="autoValidate"
                  class="e2e-staging-item-auto-validate-input"
                  [checked]="true"
                  [matTooltip]="
                    item.controls.autoValidate.disabled
                      ? 'Cannot run a validation job for schemas that do not have rules defined'
                      : ''
                  "
                >
                  Run validation rules after staging
                </mat-checkbox>
              </mat-card-content>

              <mat-card-actions align="end">
                <button
                  *ngIf="i > 0"
                  mat-button
                  color="warn"
                  (click)="removeItem(i)"
                >
                  <mat-icon>delete</mat-icon>
                  REMOVE
                </button>
              </mat-card-actions>
            </mat-card>
          </div>
        </div>

        <div
          class="pipeline-container"
          *ngIf="stageJobFormService.showPipelines"
        >
          <mat-card class="pipeline-mat-card">
            <mat-card-content class="pipeline-mat-card-content">
              <div class="pipeline-item">
                <app-stage-job-pipelines
                  [eligiblePipelines]="stageJobFormService.eligiblePipelines"
                  [selectedPipelines$]="
                    stageJobFormService.getSelectedPipelines()
                  "
                  (selectedEligiblePipelines)="
                    stageJobFormService.getSelectedEligiblePipelines($event)
                  "
                  (clickedPipelines)="
                    stageJobFormService.getClickedPipelines($event)
                  "
                >
                </app-stage-job-pipelines>
              </div>
              <div class="pipeline-graph">
                <div class="pipeline-title">
                  Pipeline Graph:
                  {{ stageJobFormService.clickedPipeline?.pipelineName }}
                </div>
                <app-downstream-pipeline-graph
                  [inputEdges]="stageJobFormService.selectedPipelineEdges"
                  [width]="350"
                  [height]="345"
                  [edgeContextMap]="stageJobFormService.edgeContextMap"
                  [nodeContextMap]="stageJobFormService.schemaNodeContext"
                  [isPipelineGraphLoading]="
                    stageJobFormService.isPipelineGraphLoading | async
                  "
                ></app-downstream-pipeline-graph>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <div>
      <button
        class="e2e-staging-job-start-button"
        mat-raised-button
        color="primary"
        [disabled]="!stageJobFormService.form.valid"
      >
        {{ isUploading ? "Running Job" : "Run Job" }}
      </button>
    </div>
  </mat-dialog-actions>
</form>
