.pipelines {
  width: 100%;
}

.mat-fab:hover {
  background-color: red;
}

.mat-list-item:hover {
  background-color: lightgray;
}

mat-list {
  max-height: 148px;
  flex-grow: 1;
  height: 148px;
  overflow: auto;
}

.pipeline-item {
  height: 110px;
}

.selected-pipeline {
  background-color: #e8f0fe;
}

.unselected-pipeline {
  background-color: #ffffff;
}

.disabled-pipeline {
  background-color: lightgray;
}

.pipeline-title {
  font-weight: bold;
}

.pipeline-title-non-eligible {
  margin-top: 10px;
  font-weight: bold;
}

.pipeline-button {
  background-color: #4f2368;
  width: 24px;
  height: 24px;
}

.pipeline-button-selected {
  background-color: #8f06ff;
  width: 24px;
  height: 24px;
}

.pipeline-button-icon {
  font-size: 16px;
  margin-top: -8px;
}
