$spacing24px: 24px;

.select-editor-dialog-buttons {
  position: relative;
  top: 10px;
}

.select-editor-actions {
  display: flex;
  justify-content: space-between;
}

.invalid {
  color: red;
}

.valid {
  color: green;
}

#select-editor-dialog-drag-handle {
  color: #b2b2b2;
  height: 24px;
  cursor: move;
  position: sticky;
  float: left;
  top: $spacing24px;
  left: $spacing24px;
  z-index: 1001;
}

#select-editor-dialog-title {
  font-size: 18px;
  font-weight: normal;
  margin-left: calc(#{$spacing24px} + #{$spacing24px} + 10px);
  padding-top: $spacing24px;
  padding-right: $spacing24px;
}

#select-editor-dialog-container {
  overflow-x: auto;
  overflow-y: auto;
  width: 80vw;
  min-width: 20vw;
  max-width: 80vw;
  height: 80vh;
  max-height: 80vh;
}

.ng-resizable-handle {
  position: sticky;
  display: inline;
  float: right;
}

#select-editor-dialog-body {
  padding: 0px $spacing24px $spacing24px $spacing24px;
}
