!.idea/
.idea/*
.idea/dictionaries/*.xml
!.idea/runConfigurations/
!.idea/codeStyles/
!.idea/codeStyleSettings.xml
!.idea/dictionaries/

*.db

**/*.iml
.vagrant
*.log
target
.mvn/
pom.xml.backup
metastore_db
node_modules
spark-warehouse
**/src/main/jaxb
**/pom.xml.versionBackup
/datasets
/lib

# compiled output
reports/
tmp/
out-tsc/

# dependencies
node_modules/

# IDEs and editors
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspacea
.vscode

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
.sass-cache/
connect.lock
coverage/
/libpeerconnection.log
npm-debug.log
testem.log
typings/
.node-persist/

# e2e
e2e/*.js
e2e/*.map

# System Files
.DS_Store
Thumbs.db

ignis-server/feature.file.properties
*.log.*.gz
