<?xml version="1.0" encoding="UTF-8"?>

<configuration>
  <include resource="org/springframework/boot/logging/logback/base.xml" />

  <logger name="org.hibernate" level="INFO" />
  <logger name="org.hibernate.type.BasicTypeRegistry" level="WARN" />

  <logger name="org.springframework.security.web.DefaultSecurityFilterChain" level="WARN" />
  <logger name="org.springframework.beans.factory.support.DefaultListableBeanFactory" level="WARN" />
  <logger name="org.springframework.context.support.PostProcessorRegistrationDelegate$BeanPostProcessorChecker"
          level="WARN" />
  <logger name="org.springframework.boot.autoconfigure.thymeleaf" level="error" />
  <logger name="springfox.documentation" level="WARN" />
  <logger name="org.springframework.test.context.transaction.TransactionContext" level="WARN" />
  <logger name="org.springframework.boot.test.context.SpringBootTestContextBootstrapper" level="WARN" />

  <logger name="com.lombardrisk.ignis" level="DEBUG" />

  <!--Log TRANSACTIONS-->
  <!--<logger name="org.springframework.orm.jpa" level="DEBUG"/>-->
  <!--<logger name="org.springframework.transaction" level="DEBUG"/>-->

  <!--Log SQL Statements-->
  <!--<logger name="org.hibernate.SQL" level="DEBUG"/>-->
  <!--<logger name="org.hibernate.type.descriptor.sql.BasicBinder" level="TRACE"/>-->

  <root level="INFO">
    <appender-ref ref="CONSOLE" />
  </root>
</configuration>
