@import "../../core/_theme/variables";

// Create a config with the default typography levels.
$config: mat-typography-config();

:host {
  display: flex;
  justify-content: center;
  align-items: center;
}

mat-spinner {
  &.small,
  &.small ::ng-deep svg {
    width: mat-line-height($config, body-1) !important;
    height: mat-line-height($config, body-1) !important;
  }

  &.medium,
  &.medium ::ng-deep svg {
    width: mat-line-height($config, display-3) !important;
    height: mat-line-height($config, display-3) !important;
  }
}

.text {
  font-weight: bold;
  font-size: mat-font-size($config, display-1);
  line-height: mat-line-height($config, display-1);
  margin-left: 20px;

  &.small {
    font-size: mat-font-size($config, body-1);
    line-height: mat-line-height($config, body-1);
    margin-left: 10px;
  }

  &.medium {
    font-size: mat-font-size($config, title);
    line-height: mat-line-height($config, title);
    margin-left: 20px;
  }
}
