<form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
  <mat-form-field>
    <input
      matInput
      formControlName="oldPassword"
      placeholder="Existing password"
      type="password"
    />
    <mat-error
      *ngIf="oldPassword.invalid && (oldPassword.dirty || oldPassword.touched)"
    >
      <span *ngIf="oldPassword.errors?.minlength">
        Password must be at least 6 characters long.
      </span>
      <span *ngIf="oldPassword.errors?.required">
        Current password is required.
      </span>
    </mat-error>
  </mat-form-field>
  <br />
  <mat-form-field>
    <input
      matInput
      formControlName="newPassword"
      placeholder="New password"
      type="password"
    />
    <mat-error
      *ngIf="newPassword.invalid && (newPassword.dirty || newPassword.touched)"
    >
      <span *ngIf="newPassword.errors?.minlength">
        Password must be at least 6 characters long.
      </span>
      <span *ngIf="newPassword.errors?.required">
        Current password is required.
      </span>
    </mat-error>
  </mat-form-field>
  <br />
  <mat-error *ngIf="this.usersChangePasswordErrorState$ | async"
    >Incorrect details</mat-error
  >
  <br />
  <button
    mat-raised-button
    color="primary"
    [disabled]="
      changePasswordForm.invalid || (usersChangePasswordLoadingState$ | async)
    "
  >
    Change password
  </button>
</form>
