$ag-icons-path: '../../../../node_modules/ag-grid/src/styles/icons/';

// ag-Grid material theme variables
$primary-color: mat-color($dv-material-primary);
$accent-color: mat-color($dv-material-accent);
