<form [formGroup]="calendarForm">
  <div class="calendar-form-container">
    <mat-form-field class="calendar-action-input">
      <input matInput formControlName="name" placeholder="Name" />
    </mat-form-field>

    <mat-form-field class="calendar-action-input">
      <input
        matInput
        formControlName="date"
        [matDatepicker]="holidayPicker"
        placeholder="Holiday Date"
      />
      <mat-datepicker-toggle
        matSuffix
        [for]="holidayPicker"
      ></mat-datepicker-toggle>
      <mat-datepicker #holidayPicker></mat-datepicker>
    </mat-form-field>

    <div>
      <app-save-button
        [displayText]="displayText"
        [loading]="loading"
        [done]="submitted && !loading"
        [disabled]="loading || (submitted && !loading)"
        (click)="onSubmit()"
      ></app-save-button>

      <button
        mat-icon-button
        [disabled]="calendarForm.invalid"
        *ngIf="!!existingHoliday"
        (click)="delete()"
        class="calendar-action-input"
      >
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>
</form>
