.full-width {
  width: 100%;
}

.dialog-wrapper {
  display: flex;
  width: 100%;
}

.dialog-wrapper-form {
  width: calc(50% - 20px);
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 16px;
}

.calendar-wrapper {
  width: calc(50% - 20px);
  height: 375px;
  margin-left: 10px;
  margin-right: 10px;
}

::ng-deep .holiday-exists {
  background-color: rgba(176, 196, 222, 0.8);
  border-radius: 25px;
}

.working-days-container {
  margin-top: 16px;
  display: block;
  width: 100%;
}

.working-days-title {
  margin-top: 50px;
  font-size: large;
}
