<app-dialog-header [showClose]="true"
  >Manage Product Calendar</app-dialog-header
>
<mat-dialog-content>
  <div class="dialog-wrapper">
    <div class="calendar-wrapper">
      <mat-calendar
        *ngIf="renderCalendar | async"
        [(selected)]="selectedDate"
        [startAt]="selectedDate"
        [dateClass]="dateClassFunction()"
        (selectedChange)="onDateChanged($event)"
      >
      </mat-calendar>
    </div>

    <div class="dialog-wrapper-form">
      <mat-form-field class="full-width">
        <mat-label>Product</mat-label>
        <mat-select
          placeholder="Select Product to view calendar"
          (selectionChange)="productSelection($event)"
          required
        >
          <mat-option *ngFor="let product of products" [value]="product">
            {{ product.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <app-calendar-form
        *ngIf="!!selectedProduct"
        [selectedDate]="selectedDate"
        [existingHoliday]="selectedHoliday"
        [loading]="createHolidayLoading$ | async"
        (submit)="submitHolidayChange($event)"
        (deleteHoliday)="deleteHoliday($event)"
      ></app-calendar-form>
    </div>
  </div>

  <div *ngIf="!!selectedProduct" class="working-days-container">
    <div class="working-days-title">Working Days</div>
    <app-working-days-form
      [loading]="workingDaysLoading$ | async"
      [workingDays]="workingDays"
      (workingDaysSubmit)="saveWorkingDays($event)"
    ></app-working-days-form>
  </div>
</mat-dialog-content>
