.full-width {
  width: 100%;
}

.form-field-full-width {
  width: 100%;
}

.field-label {
  font-size: 11px;
}

.error-field {
  color: red;
}

.field-padded {
  margin-top: 10px;
}

.entity-code {
  width: calc(50% - 10px);
  margin-right: 20px;
}

.reference-date {
  width: calc(50% - 10px);
}

.pipeline-job {
  display: flex;
  flex-direction: row;
}

.job-details-when-datasets-enabled {
  width: calc(50% - 10px);
}

.job-details-when-datasets-disabled {
  width: calc(100% - 10px);
}

.datasets-when-datasets-enabled {
  width: calc(50% - 10px);
}

.datasets-when-datasets-enabled {
  margin-left: 20px;
  width: calc(100% - 10px);
}

.pipeline-job-dataset-list {
  height: 200px;
  overflow-y: auto;
  width: 100%;
}
