.content {
  margin: 0 auto;
  padding: 20px 40px;
  max-width: 1200px;
}

body {
  font-size: 30px !important;
  background: black;
}

.running-jobs-badge {
  left: 57px;
  top: 48px;
  z-index: 1;
}
