<app-header-navigation></app-header-navigation>
<div class="content" *ngIf="(user$ | async)">
  <span
    *ngIf="runningJobs"
    [matBadge]="runningJobs"
    matBadgeOverlap="true"
    matBadgeColor="warn"
    class="running-jobs-badge"
  ></span>

  <mat-accordion >
    <mat-expansion-panel class="e2e-jobs-accordion">
      <mat-expansion-panel-header>
        <mat-icon class="mat-36">build</mat-icon>
        JOBS
      </mat-expansion-panel-header>
      <app-jobs></app-jobs>
    </mat-expansion-panel>

    <mat-expansion-panel class="e2e-datasets-accordion">
      <mat-expansion-panel-header>
        <mat-icon class="mat-36">storage</mat-icon>
        DATASETS
      </mat-expansion-panel-header>

      <app-datasets></app-datasets>
    </mat-expansion-panel>

    <mat-expansion-panel class="e2e-products-accordion">
      <mat-expansion-panel-header>
        <mat-icon class="mat-36">apps</mat-icon>
        <span>PRODUCTS</span>
      </mat-expansion-panel-header>

      <app-products></app-products>
    </mat-expansion-panel>
  </mat-accordion>

  <router-outlet></router-outlet>
</div>
