@import "../../../core/_theme/variables";

$config: mat-typography-config();
$dialog-spacing: 24px;

.mat-toolbar {
  @include mat-elevation(4);

  display: flex;
  position: relative;
  width: calc(100% + #{$dialog-spacing * 2});
  padding: 0 $dialog-spacing;
  top: -$dialog-spacing;
  left: -$dialog-spacing;
  overflow: hidden;

  h3 {
    flex: 1 0 auto;
    font-weight: mat-font-weight($config, display-3);
  }
}

.disable-close {
  opacity: 0.8;
  pointer-events: none;
}
