<button mat-icon-button [matMenuTriggerFor]="menu" [matTooltip]="menuTooltip">
  <mat-icon>more_vert</mat-icon>
</button>

<mat-menu #menu="matMenu">
  <div *ngFor="let rowMenuItem of rowMenuItems">
    <button
      mat-menu-item
      (click)="rowMenuItem.onClick()"
      [disabled]="rowMenuItem.disabled"
      [style.cursor]="rowMenuItem.disabled ? 'not-allowed' : 'normal'"
    >
      <mat-icon *ngIf="rowMenuItem.icon">{{ rowMenuItem.icon }}</mat-icon>

      <span *ngIf="rowMenuItem.label">{{ rowMenuItem.label }}</span>
    </button>
  </div>
</mat-menu>
