<div [formGroup]="form" class="full-width">
  <mat-form-field [title]="title" class="full-width">
    <input
      type="text"
      matInput
      class="e2e-auto-complete-input"
      formControlName="input"
      [matAutocomplete]="autoCompleteOptions"
      [placeholder]="placeholder"
    />
    <mat-error
      *ngIf="form.controls.input.errors && form.controls.input.errors.matchValue">
      {{formInputName}} does not exist
    </mat-error>
    <mat-autocomplete #autoCompleteOptions="matAutocomplete">
      <mat-option
        *ngFor="let option of toOptions(form.controls.autoComplete.value)"
        [value]="option"
      >
        <small>{{ option }}</small>
      </mat-option>
    </mat-autocomplete>
    <input
      type="hidden"
      formControlName="autoComplete"
      #autoCompleteInput
    />
  </mat-form-field>
</div>
