<div class="state">
  <mat-icon *ngIf="showSuccessIcon" class="success" title="Upload successful"
    >check_circle</mat-icon
  >
  <mat-icon *ngIf="showFailIcon" class="fail" title="Upload failed"
    >error</mat-icon
  >
</div>
<div class="file">
  {{ fileName }} <span *ngIf="fileSize">({{ fileSize }})</span>
</div>
<div class="controls">
  <div class="control__item" *ngIf="showRemove">
    <button
      type="button"
      mat-icon-button
      [matTooltip]="removeTooltipText"
      (click)="onRemoveClick.emit()"
    >
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div class="control__item" *ngIf="showRetry">
    <button
      type="button"
      mat-icon-button
      [matTooltip]="retryTooltipText"
      (click)="onRetryClick.emit()"
    >
      <mat-icon>refresh</mat-icon>
    </button>
  </div>
  <div class="control__item" *ngIf="showProgress">
    <mat-progress-bar
      mode="determinate"
      [matTooltip]="progress + '%'"
      [value]="progress"
    ></mat-progress-bar>
  </div>
</div>
