@import "../../../../core/_theme/variables";

$green: mat-palette($mat-green);
$orange: mat-palette($mat-orange);
$red: mat-palette($mat-red);

:host {
  display: block;
}

.fail {
  color: mat-color($red);
  cursor: default;
}

.warning {
  color: mat-color($orange);
  cursor: default;
}

.success {
  color: mat-color($green);
  cursor: default;
}
