<app-dialog-header [showClose]="true"
  >Validation Job #{{ jobExecution.id }} Details</app-dialog-header
>
<mat-dialog-content *ngIf="dataset">
  <p><b>Job name:</b> {{ jobExecution.name }}</p>
  <p>
    <b>Started:</b> {{ jobExecution.startTime | localeTime }}
    <span *ngIf="jobIsFinished"
      >- <b>Finished:</b> {{ jobExecution.endTime | localeTime }}</span
    >
  </p>
  <p><b>Status: </b> {{ jobExecution.status | uppercase }}</p>
  <p><b>Exit Status: </b> {{ jobExecution.exitCode | uppercase }}</p>

  <p><b>Dataset: </b> {{ dataset.name }}</p>
  <p><b>Entity Code: </b> {{ dataset.entityCode }}</p>
  <p>
    <b>Reference Date: </b> {{ dataset.referenceDate | localeDate }}
  </p>

  <p *ngIf="jobExecution.yarnApplicationTrackingUrl">
    <a target="_blank" href="{{ jobExecution.yarnApplicationTrackingUrl }}"
      >View job details on yarn</a
    >
  </p>
</mat-dialog-content>
