<ng-container
  *ngIf="products.length > 0; then unstagedProducts; else noUnstagedProducts"
></ng-container>

<ng-template #unstagedProducts>
  <table>
    <tbody>
      <tr *ngFor="let product of products">
        <td [title]="'name: ' + product.name" class="product-name">
          {{ product.name }}
        </td>
        <td [title]="'version: ' + product.version" class="product-version">
          v. {{ product.version }}
        </td>
        <td
          [matTooltip]="
            product.importStatus === 'IN_PROGRESS'
              ? 'Cannot delete products that are being imported'
              : 'Delete product ' + product.name
          "
          class="product-operations"
        >
          <button
            mat-icon-button
            (click)="delete(product.id)"
            [disabled]="product.importStatus === 'IN_PROGRESS'"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </td>
        <td class="product-operations">
          <mat-icon
            *ngIf="product.importStatus === 'ERROR'"
            [matTooltip]="'Error importing product ' + product.name"
            class="fail mat-icon material-icons"
          >
            error
          </mat-icon>

          <mat-icon
            *ngIf="product.importStatus === 'IN_PROGRESS'"
            matTooltip="Import in progress"
            class="info mat-icon material-icons"
          >
            schedule
          </mat-icon>
        </td>
      </tr>
    </tbody>
  </table>
</ng-template>

<ng-template #noUnstagedProducts>
  <p>No products without staged datasets</p>
</ng-template>
