.joins-header {
  display: flex;
  justify-content: space-between;
}

.joins-list__join {
  margin-bottom: 3px;
}

.joins-scroll-container {
  max-height: 600px;
  overflow-y: hidden;
  overflow-x: hidden;
  display: inline;
}
