.join-fields-container {
  display: flex;
  flex-direction: column;
}

.join-fields-header {
  display: flex;
  justify-content: space-between;
}

.join-fields-list {
  max-height: 300px;
  min-height: 200px;
  padding: 3px;
}

.join-fields-list__join {
  margin-bottom: 10px;
}

.join-fields-button {
  width: 35px;
  display: block;
  flex: 1 auto;
  margin-bottom: 10px;
}

.field-form {
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  justify-content: flex-start;
}

.join-field-form-container {
  width: calc(100% - 90px);
  flex: 1 auto;
}
