$gutter-width: 10px;
$drillback-height: calc(100vh - 140px);
$drillback-menu-minimised-height: 72px;
$menuZIndex: 5;

.drillback-menu-container {
  position: absolute;
  z-index: $menuZIndex;
  top: calc(50% - 264px);
  left: calc(50% - 224px);
  height: $drillback-menu-minimised-height;
}

.drillback-content {
  background-color: white;
  padding: 40px 20px 20px 20px;
  min-height: $drillback-height;
  overflow: hidden;
}

.example-handle {
  position: absolute;
  top: 32px;
  left: 22px;
  color: #b2b2b2;
  cursor: move;
  width: 24px;
  height: 24px;
  z-index: $menuZIndex + 1;
}
