<app-header-navigation></app-header-navigation>
<div class="drag-container">
  <div
    cdkDrag
    class="drillback-menu-container"
    cdkDragBoundary=".drag-container"
  >
    <div class="example-handle" cdkDragHandle>
      <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
        <path
          d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z"
        ></path>
        <path d="M0 0h24v24H0z" fill="none"></path>
      </svg>
    </div>

    <app-drillback-menu
      [loading]="pipelineInvocationsLoading$ | async"
      [pipelines]="pipelines"
      [pipelineInvocations]="pipelineInvocations"
      [pipelineInvocationId]="pipelineInvocationId"
      [pipelineStepInvocationId]="pipelineStepInvocationId"
    ></app-drillback-menu>
  </div>

  <div class="drillback-content" style="z-index: 1; ">
    <div>
      <app-drillback-step-container
        *ngIf="!!selectedPipelineInvocation"
        [pipelineStepInvocation]="selectedPipelineStepInvocation"
        [pipelineInvocation]="selectedPipelineInvocation"
        [pipelineId]="selectedPipelineInvocation.pipelineId"
      >
      </app-drillback-step-container>
    </div>
  </div>
</div>
