<div>
  <app-drillback-step-datasets
    *ngIf="drillBackDetails"
    [inputSchemaIdToSchema]="drillBackDetails.schemasIn"
    [inputDatasets]="inputDatasets"
    [outputSchemaIdToSchema]="drillBackDetails.schemasOut"
    [outputDatasets]="outputDatasets"
    [schemaToDrillbackMapping]="
      drillBackDetails.schemaToInputFieldToOutputFieldMapping
    "
    [pipelineStepInvocation]="pipelineStepInvocation"
    [pipelineStep]="pipelineStepInvocation.pipelineStep"
    [pipelineId]="pipelineId"
  ></app-drillback-step-datasets>
</div>
