@import '../../../styles/material';

.bread-crumb-container {
  margin-top: -20px;
}

.bread-crumb {
  display: inline-flex;
  align-items: center;
  margin-bottom: 40px;
  opacity: 0.5;
}

.bread-crumb * {
  padding: 0 3px;
}

a {
  &:hover,
  &:active,
  &:visited,
  &:focus {
    color: mat-color($lr-darkblue, A400);
  }
}
