<div *ngFor="let pipelineInvocation of pipelineInvocations">
  <p>
    <b>Entity code:</b> {{ pipelineInvocation.entityCode }}
    <b>Reference date:</b> {{ pipelineInvocation.referenceDate }}
  </p>

  <div class="pipeline-steps-container">
    <div
      *ngFor="let pipelineStepInvocation of pipelineInvocation.invocationSteps"
    >
      <app-pipeline-step-invocation-dialog
        [pipelineStepInvocation]="pipelineStepInvocation"
      >
      </app-pipeline-step-invocation-dialog>
    </div>
  </div>
</div>
