@import "../../../../../core/_theme/variables";

$green: mat-palette($mat-green);
$grey: mat-palette($mat-grey);
$red: mat-palette($mat-red);

.fail {
  color: mat-color($red);
  cursor: default;
}

.pending {
  color: mat-color($grey);
  cursor: default;
}

.success {
  color: mat-color($green);
  cursor: default;
}

.pipeline-step-progress-container {
  margin: 6px;
}
