<app-header-navigation></app-header-navigation>

<div class="rules-content">
  <div class="flex-row">
    <h1>Rules</h1>

    <div class="flex-row" [formGroup]="formGroup">
      <mat-form-field class="rule-details-selector">
        <mat-select placeholder="Product" formControlName="selectedProductId">
          <mat-option *ngFor="let prod of products" [value]="prod.id">
            {{ prod.name }} v.{{ prod.version }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="rule-details-selector">
        <mat-select placeholder="Schema" formControlName="selectedSchemaId">
          <mat-option
            *ngFor="let schema of selectedProductSchemas"
            [value]="schema.id"
          >
            {{ schema.displayName }} v.{{ schema.version }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <div>
    <app-grid
      [customStyle]="customStyle"
      [gridOptions]="gridOptions"
      [columnDefs]="columnDefs"
      [rowData]="rules"
    >
    </app-grid>
  </div>
</div>
