$gutter-width: 20px;

:host {
  display: block;
  width: 100%;
  border: 3px dashed #ccc;
  text-align: center;
  padding: $gutter-width;
  box-sizing: border-box;
}

mat-icon {
  pointer-events: none;
}

.instructions {
  display: block;
  margin-bottom: $gutter-width;
  font-weight: bold;
}

.allowed-file-types {
  margin-bottom: 0;
  font-weight: normal;
}
