<app-dialog-header [showClose]="true">
  {{ titlePrefix }}
  Job #{{ jobExecution.id }}
  Details
</app-dialog-header>

<mat-dialog-content>
  <p><b>Job name:</b> {{ jobExecution.name }}</p>
  <p>
    <b>Started:</b> {{ jobExecution.startTime | localeTime }}
    <span *ngIf="jobIsFinished"
      >- <b>Finished:</b> {{ jobExecution.endTime | localeTime }}</span
    >
  </p>
  <p><b>Status: </b> {{ jobExecution.status | uppercase }}</p>
  <p><b>Exit Status: </b> {{ jobExecution.exitCode | uppercase }}</p>

  <div *ngIf="jobExecution.errors.length > 0" class="errors">
    <b class="fail">Errors: </b>
    <ul>
      <li *ngFor="let err of jobExecution.errors">
        {{ err }}
      </li>
    </ul>
  </div>
</mat-dialog-content>
