
.unions-header {
  margin-top: 16px;
}


::ng-deep .union-filters-container {
  margin: 24px 16px 16px;
}

::ng-deep .mat-tab-body {
  display: inline;
  overflow-y: inherit !important;
}

::ng-deep .mat-tab-body-content {
  overflow-y: inherit !important;
}


.error-tab {
  color: red;
}
