@import 'styles/_material-variables';

$foreground: map-get($dv-material-theme, foreground);

:host {
  @include mat-typography-level-to-styles($dv-material-typography, caption);

  display: block;
  margin: 0 0 8px;
  color: mat-color($foreground, secondary-text);
}

.error{
  color: red;
}
