.logo {
  height: 40px;
  border-right: 1px solid #ccc;
}

.design-studio {
  color: #084162;
  text-decoration: none;
}

.nav-container {
  display: flex;
  flex: 1 0 auto;
}

.nav-container a {
  padding: 10px;
}

.active {
  opacity: 0.5;
  font-weight: bolder;
  font-size: 16px;
  margin-top: -1px;
}
