@import '../../../../styles/material';

$header-height: 50px;
$side-navigation-width: 750px;

mat-sidenav-container {
  height: calc(98vh - #{$header-height});
  padding: 20px 20px 20px 0;
  background-color: white !important;
}

.primary-content {
  background-color: white;
  padding: 20px;
}

mat-sidenav {
  @include mat-elevation(4);

  width: $side-navigation-width;
  display: flex;
  flex-direction: column;
  padding: 20px;
}
