::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  border-radius: 100px;
  background-color: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar:hover {
  background-color: rgba(0, 0, 0, 0.09);
}

::-webkit-scrollbar-thumb {
  border-radius: 100px;
  background: rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb:active {
  border-radius: 100px;
  background: rgba(0, 0, 0, 0.5);
}
