body {
    padding-top: 5rem;
}

.starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
}

h1 {
    color: #343a40;
}

h2 {
    color: rgba(52, 58, 64, 0.75);
    font-size: 21px;
}

.left-align {
    text-align: left;
}

.header-icon {
    margin-right: 6px;
}
