<mat-card class="drillback-menu">
  <div class="drillback-menu-header">
    <div class="drillback-menu-header-text">
      Drillback Menu
    </div>

    <div>
      <button
        mat-icon-button
        class="drillback-menu-header-button"
        (click)="minimise()"
        *ngIf="!minimised"
        [disabled]="!selectedPipelineInvocation"
      >
        <mat-icon>expand_more</mat-icon>
      </button>

      <button
        mat-icon-button
        class="drillback-menu-header-button"
        (click)="maximise()"
        *ngIf="minimised"
      >
        <mat-icon>expand_less</mat-icon>
      </button>
    </div>
  </div>

  <div [hidden]="minimised">
    <mat-tab-group [formGroup]="formGroup" class="tab-container">
      <mat-tab label="Select Pipeline">
        <div class="drillback-menu-contents">
          <mat-form-field class="drillback-form-field ">
            <input
              matInput
              formControlName="entityCode"
              placeholder="Entity code"
            />
          </mat-form-field>

          <mat-form-field class="drillback-form-field">
            <input
              matInput
              formControlName="referenceDate"
              [matDatepicker]="picker"
              placeholder="Reference Date"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>

          <mat-form-field class="drillback-form-field">
            <mat-select
              placeholder="Pipeline"
              formControlName="selectedPipelineId"
            >
              <mat-option
                *ngFor="let pipeline of pipelines"
                [value]="pipeline.id"
              >
                {{ pipeline.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="drillback-form-field">
            <mat-select
              placeholder="Pipeline Run"
              formControlName="selectedPipelineInvocationId"
            >
              <mat-option
                *ngFor="let pipelineInvocation of filteredPipelineInvocations"
                [value]="pipelineInvocation.id"
              >
                Run on {{ pipelineInvocation.createdTime | localeTime }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </mat-tab>
      <mat-tab label="Select Step">
        <div class="drillback-menu-contents" *ngIf="selectedPipelineInvocation">
          <div class="graph-label">Graph View</div>

          <div class="graph-container">
            <app-dag
              (mousewheel)="mousewheelOnDagContainer($event)"
              [inputEdges]="selectedPipelineEdges"
              [selectedEdge]="selectedPipelineStepInvocation.pipelineStep.id"
              [width]="400"
              [height]="150"
              [edgeContextMap]="edgeContextMap"
              [nodeContextMap]="schemaNodeContext"
              [zoom]="dagZoom"
              [colorMapOverride]="colorMapOverride"
            ></app-dag>
          </div>
          <mat-form-field class="drillback-form-field">
            <mat-select
              placeholder="Pipeline Step"
              formControlName="selectedPipelineStepInvocationId"
              [value]="selectedPipelineStepInvocation.id"
            >
              <mat-option
                *ngFor="let step of selectedPipelineInvocation.invocationSteps"
                [value]="step.id"
                [disabled]="step.status !== 'SUCCESS'"
              >
                {{ step.pipelineStep.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="drillback-form-field ">
            <textarea
              class="description"
              matInput
              placeholder="Description"
              disabled="true"
              [value]="selectedPipelineStepInvocation.pipelineStep.description"
            >
            </textarea>
          </mat-form-field>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</mat-card>
