<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <mat-form-field>
    <input
      matInput
      formControlName="username"
      placeholder="Username"
      autofocus
      class="e2e-login-username"
    />
  </mat-form-field>
  <br />
  <mat-form-field>
    <input
      matInput
      formControlName="password"
      placeholder="Password"
      type="password"
      class="e2e-login-password"
    />
  </mat-form-field>
  <mat-error class="form-error" *ngIf="(loginErrorState$ | async)?.message"
    >{{ (loginErrorState$ | async)?.message }}
  </mat-error>
  <br />
  <button
    mat-raised-button
    color="primary"
    class="e2e-login-button"
    [disabled]="loginForm.invalid || (loginLoadingState$ | async)"
  >
    {{ (loginLoadingState$ | async) ? "Logging in" : "Login" }}
  </button>
</form>
