@import "../../../../core/_theme/variables";

@function grid-line-border($color) {
  @return 2px solid $color;
}

$config: mat-typography-config();
$primary: map-get($primary-palette, 500);
$header-border: grid-line-border(lighten($primary, 5%));
$line-border: grid-line-border($primary);

:host ::ng-deep ag-grid-angular {
  @include mat-elevation(3);

  margin-bottom: 12px;

  .ag-row:last-child {
    border: none !important;
  }

  // header
  .ag-header {
    @include mat-elevation(4);

    color: #fff;
    font-weight: normal;
    text-transform: uppercase;
    background: $primary;
    z-index: 1;
  }

  // header row
  .ag-header-row {
    border-bottom: $header-border;
  }

  // header resize line
  .ag-header-cell-resize::after {
    border-right: $header-border;
  }

  // header cell button
  .ag-header-cell-menu-button {
    opacity: 1 !important;
  }

  // tab header
  .ag-tab-header {
    .ag-tab-selected {
      border-bottom: $line-border !important;
    }

    .ag-icon-menu {
      background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHZpZXdCb3g9IjAgMCAxOCAxOCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48ZyBmaWxsLXJ1bGU9ImV2ZW5vZGQiPjxwYXRoIGZpbGwtcnVsZT0ibm9uemVybyIgZD0iTTIgMTRoMTR2LTJIMnoiLz48cGF0aCBkPSJNMiAxMGgxNFY4SDJ6bTAtNnYyaDE0VjR6Ii8+PC9nPjwvc3ZnPg==") !important;
    }

    .ag-icon-filter {
      background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHZpZXdCb3g9IjAgMCAxOCAxOCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48ZyBmaWxsLXJ1bGU9ImV2ZW5vZGQiPjxwYXRoIGQ9Ik00IDEwaDEwVjhINHpNMiA0djJoMTRWNHoiLz48cGF0aCBmaWxsLXJ1bGU9Im5vbnplcm8iIGQ9Ik03IDE0aDR2LTJIN3oiLz48L2c+PC9zdmc+") !important;
    }

    .ag-icon-columns {
      background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHZpZXdCb3g9IjAgMCAxOCAxOCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMyA0aDN2Mkgzem01IDBoM3YySDh6bTUgMGgzdjJoLTN6TTMgOGgzdjJIM3ptNSAwaDN2Mkg4em01IDBoM3YyaC0zek0zIDEyaDN2Mkgzem01IDBoM3YySDh6bTUgMGgzdjJoLTN6IiBmaWxsLXJ1bGU9ImV2ZW5vZGQiLz48L3N2Zz4=") !important;
    }
  }

  // filter areas
  .ag-filter {
    &-body {
      padding: 10px;
    }

    input[type="text"],
    input[type="date"] {
      height: initial;
      padding: 10px 0;
      border-bottom: 1px solid #949494;

      &:focus {
        border-bottom: $line-border;
        padding: 10px 0 9px 0;
      }
    }

    .ag-filter-select {
      padding: 10px 0;
      border: none;
      border-bottom: 1px solid #949494;

      &:focus {
        border-bottom: $line-border;
        padding: 10px 0 9px 0;
      }
    }
  }

  .ag-floating-filter-body {
    input {
      height: initial;
      padding: 10px 0;
      color: #fff;

      &:focus {
        border-bottom: grid-line-border(#fff);
        padding: 10px 0 9px 0;
      }
    }
  }

  // header cell
  .ag-header-cell {
    .ag-icon-filter {
      background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHZpZXdCb3g9IjAgMCAxOCAxOCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48ZyBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGZpbGw9IiNmZmYiPjxwYXRoIGQ9Ik00IDEwaDEwVjhINHpNMiA0djJoMTRWNHoiLz48cGF0aCBmaWxsLXJ1bGU9Im5vbnplcm8iIGQ9Ik03IDE0aDR2LTJIN3oiLz48L2c+PC9zdmc+");
      cursor: pointer;
      transition: opacity 300ms ease-in-out;

      &:hover {
        opacity: 0.5;
      }
    }

    &-label {
      .ag-icon {
        &-asc {
          background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHZpZXdCb3g9IjAgMCAxOCAxOCIgZmlsbD0iI2ZmZiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMTAgMTVWNmw0IDQgMS0xLTYtNi02IDYgMSAxIDQtNHY5eiIvPjwvc3ZnPg==");
        }

        &-desc {
          background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIGZpbGw9IiNmZmYiIHZpZXdCb3g9IjAgMCAxOCAxOCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNOCAzdjkuMTNMNCA4IDMgOWw2IDYgNi02LTEtMS00IDQuMTNWM3oiLz48L3N2Zz4=");
        }

        &-filter {
          opacity: 0.5;
          cursor: initial;
        }
      }
    }

    &-menu-button {
      .ag-icon-menu {
        background-image: url("data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjZmZmIiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4NCiAgICA8cGF0aCBkPSJNMCAwaDI0djI0SDB6IiBmaWxsPSJub25lIi8+DQogICAgPHBhdGggZD0iTTEyIDhjMS4xIDAgMi0uOSAyLTJzLS45LTItMi0yLTIgLjktMiAyIC45IDIgMiAyem0wIDJjLTEuMSAwLTIgLjktMiAycy45IDIgMiAyIDItLjkgMi0yLS45LTItMi0yem0wIDZjLTEuMSAwLTIgLjktMiAycy45IDIgMiAyIDItLjkgMi0yLS45LTItMi0yeiIvPg0KPC9zdmc+");
        cursor: pointer;
        transition: opacity 300ms ease-in-out;

        &:hover {
          opacity: 0.5;
        }
      }
    }

    .ag-header-icon {
      opacity: 1;
    }
  }

  // cell
  .ag-cell {
    //line-height: 40px; // NOTE: If you update this, you must update the rowHeight in ag-grid JS options

    &:focus {
      border: none;
    }
  }

  // column select panel
  .ag-column-select-panel {
    .ag-column-select-column {
      margin-left: 15px;
    }

    .ag-icon-checkbox-checked {
      background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHZpZXdCb3g9IjAgMCAxOCAxOCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMTYgMEgyYTIgMiAwIDAgMC0yIDJ2MTRhMiAyIDAgMCAwIDIgMmgxNGEyIDIgMCAwIDAgMi0yVjJhMiAyIDAgMCAwLTItMnpNNyAxNEwyIDlsMS40MS0xLjQxTDcgMTEuMTdsNy41OS03LjU5TDE2IDVsLTkgOXoiIGZpbGw9IiM2MTJlN2IiLz48L3N2Zz4=");
    }
  }

  // menu list
  .ag-menu {
    &-option {
      cursor: pointer;

      &-disabled {
        opacity: 0.5;
        cursor: initial;
      }
    }
  }

  // tab list
  .ag-tab {
    cursor: pointer;

    &-selected {
      cursor: initial;
    }
  }

  // floating row
  .ag-floating-top .ag-row,
  .ag-floating-top .ag-row-hover {
    background: lighten($primary, 65%);
    border-bottom: none;
  }

  .ag-floating-top,
  .ag-floating-top .ag-row-hover {
    @include mat-elevation(2);

    z-index: 1;
  }

  // custom cell classes
  .cell-numeric {
    text-align: right;
  }

  .ag-group-contracted,
  .ag-group-expanded {
    cursor: pointer;
    position: relative;
    top: 4px;
  }
  .ag-cell-focus {
    border: none !important;
  }
}
